@font-face {
  font-family: 'deh';
  src: url('/font/GoogleSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
.div_esterno{
    margin: auto;
    width: 50%;
    border: 3px solid rgb(0, 0, 0);
    background-color: lightblue;
    padding: 10px;
    text-align: center;
    
}
input[type="text"]{
  margin: 8px 0;
  border-color: black;
}
input[type="password"]{
  margin: 8px 0;
  border-color: black;
}
body{
  font-family: 'deh';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.div_interno{
  display: flex;
  justify-content: center;
  align-items: center;
}