/*@font-face {
  font-family: 'deh';
  src: url('/font/GoogleSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}*/


.login{
  background-color: white; 
  color: white; 
  font-size: xx-small; 
  padding: 6px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
  border: 2px solid black;
}
.login:hover{
  background-color: #CECECE; 
}
body{
  font-family: 'deh';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color : #DCD7C9;
  font-family: 'Roboto', sans-serif;
}

.div_interno{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color : #A27B5C;
  /* border: 1px solid black; */
  width: fit-content;
}
.div_esterno{
  margin: auto;
  width: 50%;
  border: 3px solid rgb(0, 0, 0);
  background-color: lightblue;
  padding: 10px;
  text-align: center;
  background-color : #A27B5C;
  width: fit-content;
}
input[type="submit"]{
  background-color: #2C3930; /* Green background */
  color: white; /* White text */
  font-size: 16px; /* Font size */
  padding: 10px 20px; /* Padding around the text */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth transition for background-color */
}
input[type="submit"]:hover {
  background-color: #3F4F44; /* Darker green when hovering */
}

.div_titolo{
  padding: 5px 15px;
}